.vs/
bin/
obj/
packages/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
*.log

_ReSharper*/
*.DotSettings.user

.vscode/

.DS_Store
Thumbs.db

# Local secrets
AppSecrets.config
ConnectionStrings.config